<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <meta charset="UTF-8">
    <title>LieD</title>
</head>
<body>
<div id="c1"></div>
<div id="c2"></div>

<div id="sub-title"> 당신 곁의 <br> 거짓말 탐지기 </div>
<div id="main-title"> LIEDE</div>

<div id="menu-wrapper">
    <div id="menu-title">거짓말 탐지기</div>
    <div id="direct-wrapper" onclick="location.href='/measurement'">
        <div id="direct-img"></div>
        <div id="direct-title">바로 측정하기</div>
        <div id="direct-sub">찌릿찌릿! 지금 바로 거짓말 측정</div>
        <div id="direct-btn"></div>
    </div>
    <div id="line"></div>
    <div id="list-wrapper" onclick="location.href='/list'">
        <div id="list-img"></div>
        <div id="list-title">질문지 보러가기</div>
        <div id="list-sub">어떤 질문을 해야 할지 고민이라면</div>
        <div id="list-btn"></div>
    </div>
</div>

<div id="logo"></div>
<div id="team-name">TEAM APISODE</div>
</body>
</html>