<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">
<!--    <link rel="stylesheet" type="text/css" href="../../static/css/list.css">-->
    <meta charset="UTF-8">
    <title>LieD</title>
</head>
<body>
<div id="header-wrapper">
    <div id="back-btn" onclick="history.back(-1)"></div>
    <div id="title">질문 리스트</div>
</div>

<div id="noti-wrapepr">
    <div id="noti-img"></div>
    <div id="noti-title">질문지</div>
    <div id="noti-sub">원하는 질문을 골라주세요.</br>바로 측정이 시작됩니다.</div>
</div>

<div id="line"></div>

<div id="list1-wrapper">
    <div id="list1-title">우정</div>
    <div id="list1-sub">나는 친구에게 실망한 적이 있다.</div>
    <div id="list1-btn"></div>
</div>

</body>
</html>